<div class="cont-<%= message.user.id %>">
  <div class="message-box msg-<%= message.user.id %> " >
    <h6 class="name"> <%= message.content %> </h6>
      <li class="nav-item" style="font-size: 50%; text-align: right;">
        <%= message.created_at %>
      </li>
  </div>
</div>

