<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have new login in Social site</h1>
    <p>
      Is not you then change your password in this site <%= @url %>
    </p>
    <p>Have a great day!</p>
  </body>
</html>