<li>
<ul>
<li><b><%= full_name(comment.user) %></b></li>
		    <li><%= comment.comment %></li>
		    <li style="font-size: 64%;"><%= comment.created_at %></li></ul></li>
<style>
li {
  display:inline;
}
</style>