<li>
<ul>
<li><b><%= comment.user.first_name %> <%= comment.user.last_name %></b></li>
		    <li><%= comment.comment %></li>
		    <li style="font-size: 64%;"><%= comment.created_at %></li></ul></li>
<style>
li {
  display:inline;
}
</style>