<div class='clearfix'></div>
<div class="row" >
  <div class="col-md-6">
    <div class="show_post">
      <div class="show_post">
        <div class="card">
          <table class="table">
            <% @users.each do |find_friend| %>
              <% if (current_user.id != find_friend.id) %>
                <tbody>
                  <tr>
                    <th><%= link_to user_path(find_friend), class: "link_to", remote: (user != current_user) do %>
                          <%= render "profile_avatar", user: find_friend %>
                        <% end %>      
                          </th>
                    <td><ul class="navbar-nav mr-auto">
                          <li class="nav-item user-li-<%= find_friend.id %>" style="text-align: center;">
                            <%= render "user_button" , find_friend: find_friend %>
												  </li>
                        </ul></td>
                  </tr>
                </tbody>
              <% end %>
            <% end %>
          </table>
        </div>
      </div> 
    </div>
  </div>
</div>