<% if current_user != @user %>
  <span class="close">&times;</span>
<% end %>
<%= render 'layouts/nav', user: @user %>
<div class='clearfix'></div>
<hr/>
<div class="row scroll" >
  <div class="col-md-6">
    <div class="card">
			<%= render "posts", posts: @posts %>
		</div>
  </div>
</div>
<script>
  var modal = document.getElementById("myModal");
  var span = document.getElementsByClassName("close")[0];
  span.onclick = function() {
    modal.style.display = "none";
    document.location.reload(true)
  }
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
      document.location.reload(true)
    }
  }
</script>